.modal {
    .modal-content {
        padding: 10px 10px 0 10px;

        .modal-body {
            padding-bottom: 0;
        }
    }

    .form-group {
        label {
            font-weight: 600;
            margin-bottom: 4px;
        }
        label, .form-control {
            font-size: 14px;
            line-height: 22px;
        }
        .form-control {
            min-height: 42px;
        }
    }

    &.custom-modal {
        .modal-header, .modal-footer {
            border: none;
        }

        .modal-header {
            .modal-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                color: #262626;
            }
        }

        .modal-body {
            font-size: 14px;
            line-height: 22px;
            color: #262626;
        }

        .modal-footer {
            .btn {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                border-radius: 2px;
            }
        }
    }
}